#drawing-area {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5px;
}

.drawing-square {
    background-color: aqua;
    width: 25%;
    height: 25%;
    flex-shrink: 0;
}