#drawing-area {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
}

.drawing-square {
    flex-shrink: 0;
}

.drawing-square:hover {
    background-color: black;
}