#drawing-area {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    height: 600px;
    width: 600px;
}

.drawing-square {
    flex-shrink: 0;
    width: 25%;
    height: 25%;
}

.drawing-square:hover {
    background-color: black;
}